.vs/
*.dll

*.pdb

*.cache



/Api/Ecommerce/.vs/
Api/Ecommerce/Eccommerce.Api/bin/
Api/Ecommerce/Eccommerce.Api/obj/

Api/Ecommerce/Ecommerce.Core/Ecommerce.Core/bin/
Api/Ecommerce/Ecommerce.Core/Ecommerce.Core/obj/

Api/Ecommerce/Ecommerce.Persistence/bin/
Api/Ecommerce/Ecommerce.Persistence/obj/

Api/Ecommerce/Ecommerce.Testing/bin/
Api/Ecommerce/Ecommerce.Testing/obj/
